@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Markazi+Text:wght@400;500;600;700&display=swap');

:root{
  /* Primary Colors */
  --green900: #495E57;
  --green900_50:#495e57b8;
  --yellow900: #F4CE14;
  --yellow700: #c8a90f;
  /* Secondary Colors */
  --beige900: #EE9972;
  --beige500: #FBDABB;
  --white900: #EDEFEE;
  --white900_50: #edefee7e;
  --black900: #333333;
  --error:rgb(255, 99, 99);
  /* widths & heights */
  --maxContainerWidth:900px;
  --headerHeight: 4.5rem;
  /* shadows */
  --greenCardShadow: 10px 10px 40px #3e504a, -10px -10px 40px #546c64;
  --whiteCardShadow: 10px 10px 40px #c9cbca, -10px -10px 40px #ffffff;
  --whiteLinkShadow: 5px 5px 20px #c9cbca, -5px -5px 20px #ffffff;
  --blackButtonShadow: 5px 5px 20px #2b2b2b7e, -5px -5px 20px #3b3b3b7c;
}
*{
  box-sizing: border-box;
  color: var(--black900);
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  height: 100svh;
}

::-webkit-scrollbar{
  width: .7rem;
}
::-webkit-scrollbar-thumb{
  background: var(--green900);
  opacity: 50%;
  border-radius: .5rem;
  transition: all 300ms;
  box-shadow: inset 0px 0px 5px rgb(50, 50, 50);
}
::-webkit-scrollbar-thumb:hover{
  opacity: 100%;
  transition: all 300ms;
}
::-webkit-scrollbar-track{
  background: var(--white900_50);
}

button{
  background-color: var(--yellow900);
  font-family: 'Markazi Text', serif;
  font-weight: bold;
  font-size: 1.2rem;
  width: fit-content;
  padding: .5rem 1rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  transition: all 300ms;
}
button:hover{
  background-color: var(--yellow700);
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
  transition: all 300ms;
}
button:active{
  transform: scale(.9);

}
.secondaryButton{
  background-color: transparent;
}
.secondaryButton:hover{
  background-color: transparent;
  box-shadow: none;
}
.addToCart{
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--black900);
  color: var(--white900);
  border: none;
  width: fit-content;
  padding: .5rem 1rem;
  border-radius: .5rem;
  background: linear-gradient(145deg, #2e2e2e, #373737);;
}
.addToCart:hover{
  background-color: var(--beige900);
  box-shadow: var(--blackButtonShadow);
}

h1{
  font-family: 'Markazi Text', serif;
  color: var(--yellow900);
  font-size: 4rem;
  line-height: 4rem;
}
label{
  color: var(--white900);
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}
input, select{
  padding: .5rem 1rem;
  font-size: 1.2rem;
  border-radius: .5rem;
  border: none;
  background-color: var(--white900_50);
  color: var(--black900);
}
input:focus, .bookingForm select:focus{
  outline: 2px solid var(--yellow900);
}
.icons{
  width: 2.5rem;
  height: 2.5rem;
  padding: .5rem;
}
.error{
  color: var(--error);
}


/* --------------------------Header--------------------------- */

header{
  display: flex;
  justify-content: center;
  height: var(--headerHeight);
  box-shadow: var(--greenCardShadow);
  background: linear-gradient(145deg, #d5d7d6, #feffff);
  z-index: 2;
}
header .container{
  display: flex;
  justify-content: space-between;
  max-width: var(--maxContainerWidth);
  width: 100%;
  padding: 1rem;
  justify-self: center;
}
ul{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
li{
  list-style: none;
  font-weight: bold;
  text-align: center;
}
li:hover{
  color: var(--green900);
}
nav{
  align-self: center;
}
nav a:hover{
  background: linear-gradient(145deg, #d5d7d6, #feffff);
  box-shadow: var(--whiteLinkShadow);
  transition: all 300ms;
}
nav a{
  text-decoration: none;
  background-color: #f4cf1400;
  transition: all 300ms;
  padding: .5rem 1rem;
  border-radius: .5rem;
}
.burger{
  display: none;
  cursor: pointer;
}
.burgerMenu{
  display: flex;
  z-index: 1;
  position: fixed;
  top: var(--headerHeight);
  text-align: center;
  justify-self: flex-end;
  background-color: var(--white900_50);
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 1rem;
  justify-content: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 1rem 1rem;
  animation-name: menuSlideIn;
  animation-duration: 300ms;
}
.burgerMenu ul{
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  font-size: 1.5rem;
}
.burgerMenu a{
  font-family: 'Markazi Text', serif;
}

@media screen and (max-width: 750px){
  .burger{
    display: block;
  }
  header .container nav{
    display: none;
  }
}

@keyframes menuSlideIn {
  from {
    transform: translateY(-300px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* --------------------------Hero------------------------------ */

#hero{
  display: flex;
  width: 100%;
  background-color: var(--green900);
  justify-content: center;
  margin-bottom: 5rem;
}
#hero .container{
  color: var(--white900);
  width: 100%;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: space-between;
  max-width: var(--maxContainerWidth);
}
.hero__datos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20rem;
}
#hero h2{
  font-family: 'Markazi Text', serif;
  font-size: 2.5rem;
  color: var(--white900);
}
#hero img{
  width: 20rem;
  height: 20rem;
  object-fit:cover;
  border-radius: 1rem;
  position: relative;
  bottom: -5rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.449);
}
#hero p{
  color: var(--white900);
  font-family: 'Markazi Text', serif;
  font-size: 1.5rem;
  padding: .5rem 0;
}
@media screen and (max-width: 576px) {
  #hero .container{
    flex-direction: column;
    align-items: center;
  }
}


/* -----------------------Highlights--------------------------- */

.highlights{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}
.highlights .container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--maxContainerWidth);
  padding: 1rem;
}
.title-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem 0;
  gap: 1rem;
}
.card{
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 1rem;
  overflow: hidden;
  background: linear-gradient(145deg, #d5d7d6, #feffff);
  transition: all 300ms;
  height: 400px;
  box-shadow: var(--whiteCardShadow);
}
.card:hover{
  transform: translateY(-5px);
  transition: all 300ms;
}
.card-data{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: .5rem;
  height: 100%;
  justify-content: space-between;
}
.card-image{
  width: 100%;
  height: 165px;
  object-fit: cover;
}
.card-title{
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.card-price{
  color: #EE9972;
  font-weight: bold;
}
.card-data p{
  height: 100%;
}

/* ----------------------About Us------------------------- */

#about{
  display: flex;
  min-height: calc(100svh - var(--headerHeight));
  justify-content: center;
  align-items: center;
  background-image: url(./assets/icons_assets/mario_adrian_a.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
#about .container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: var(--maxContainerWidth);
  background-color: var(--green900_50);
  backdrop-filter: blur(20px); 
  height: auto;
  border-radius: 1rem;
  padding: 2rem; 
  margin: 1rem;
}
#about p, #about strong{
  color: var(--white900);
  text-align: left;
  font-size: 1.2rem;
  text-shadow: 0px 0px 10px var(--black900);
}


/* ---------------------Reservations---------------------- */

#reservations{
  display: flex;
  background-color: var(--green900);
  background-size: cover;
  min-height: calc(100svh - var(--headerHeight));
  width: 100%;
  justify-content: center;
  align-items: center;
}
#reservations .container{
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  background:linear-gradient(145deg, #42554e, #4e655d);
  margin: 1rem;
  box-shadow: var(--greenCardShadow);
}
#reservations h1{
  padding-bottom: 1rem;
  align-self: center;
}
.bookingForm{
  display: flex;
  flex-direction: column;
}
input.submitButton{
  margin-top: 1rem;
  background-color: var(--yellow900);
  cursor: pointer;
  font-weight: bold;
}
input.submitButton:hover{
  background-color: var(--yellow700);
}
.reservation-card{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--white900_50);
  border-radius: .5rem;
  gap: .5rem;
  min-width: 18rem;
}
.reservation-card button{
  align-self: center;
} 
.form-reservations-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.prevReservations{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  max-height: 100%;
}

/* ---------------------Login---------------------- */

#login{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(145deg, #42554e, #4e655d);
  min-height: calc(100svh - var(--headerHeight));
}
#login h1{
  line-height: 2rem;
}
#login .container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: var(--maxContainerWidth);
  background: linear-gradient(145deg, #42554e, #4e655d);
  border-radius: 3rem;
  padding: 3rem;
  margin: 1rem;
  box-shadow: var(--greenCardShadow);
}
.loginForm{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

/* ---------------------Logout---------------------- */

#logout{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100svh - var(--headerHeight));
  background-color: var(--green900);
}
#logout .container{
  background:linear-gradient(145deg, #42554e, #4e655d);
  padding: 3rem;
  box-shadow: var(--greenCardShadow);
  border-radius: 3rem;
}
#logout .buttonContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

/* -------------------Register-------------------- */

#register{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100svh - var(--headerHeight));
  background-color: var(--green900);
}

#register .container{
  background:linear-gradient(145deg, #42554e, #4e655d);
  padding: 3rem;
  box-shadow: var(--greenCardShadow);
  border-radius: 3rem;
  margin: 2rem 1rem;
  max-width: var(--maxContainerWidth);
  justify-self: center;
}

#register form{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

/* ---------------------Menu---------------------- */

#menu{
  background-color: var(--green900);
  min-height: calc(100svh - var(--headerHeight));
  display: flex;
  justify-content: center;
}
#menu .container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: var(--maxContainerWidth);
  justify-content: space-between;
  width: 100%;
  margin: 1rem;
}
#menu h2{
  color: var(--beige900);
  z-index: 1;
}
.cards_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.cards_container::-webkit-scrollbar {
  display: none;
}
.dishCard{
  display: flex;
  flex-direction: column;
  max-width: 18rem;
  overflow: hidden;
  height: fit-content;
  min-height: 26rem;
  min-width: 18rem;
  background: linear-gradient(145deg, #42554e, #4e655d);
  border-radius: 1rem;
  box-shadow: var(--greenCardShadow)
}
.dishCard img {
  width: 18rem;
  height: 12rem;
  object-fit: cover;
  /* box-shadow: 0px 0px 20px black; */
}
.dishCard_datos{
  display: flex;
  flex-direction: column;
  height: 16rem;
  justify-content: space-between;
  align-content: space-between;
  padding: 1rem;
  gap: .5rem;
}
.dishCard h3{
  color: var(--white900);
}
.dishCard p {
  overflow: hidden;
  color: var(--white900);
  display: -webkit-box;
   -webkit-line-clamp: 6;
           line-clamp: 6; 
   -webkit-box-orient: vertical;
}
/* ----------------------Cart------------------------ */

#cart{
  min-height: calc(100svh - var(--headerHeight));
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green900);
}
#cart .container{
  background: linear-gradient(145deg, #42554e, #4e655d);
  padding: 3rem;
  border-radius: 3rem;
  box-shadow: var(--greenCardShadow);
  margin: .5rem;
}
.cartCardContainer{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
  transition: all 1000ms;
}
.cartItemCard{
  display: flex;
  color: var(--white900);
  background-color: var(--white900_50);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--greenCardShadow);
}
.cartItemCard_data{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}
.cartItemCard img{
  max-width: 7rem;
  height: auto;
  object-fit: cover;
}
.removeItemCart{
  position: relative;
  height: auto;
  padding: .5rem;
}
.cartTotal{
  display: flex;
  flex-direction: column;
  padding: 1rem .5rem;
  align-items: end;
  gap: 1rem;
  background-color: var(--white900_50);
  border-radius: 1rem;
  box-shadow: var(--greenCardShadow);
}

/* ---------------------Footer---------------------- */

footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--beige500);
  padding: 2rem 1rem;
  bottom: 0px;
}
footer .container{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 1rem;
  width: 100%;
  max-width: var(--maxContainerWidth);
  text-align: center;
}
.footer_socialsLinks{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 1rem;
}


@media screen and (max-width: 576px) {
  .footer_socialsLinks{
    grid-template-columns: 1fr;
  }
}

